body{
    border-color: rgb(7, 0, 71);
    border-style: solid;
    padding: 0 0 0 0;
    text-align: center;

}

form{
    border: 1px solid rgb(7, 0, 71);
    background-color: rgb(166, 240, 253);
    width: 99.9%;
    
}

h1{
    text-align: center;
}

input[type="text"]{
    padding: 5px;
    background-color: rgb(255, 218, 218);
    width: 20%;
    margin-top: 2mm;
}

input[type="button"]{
    background-color: rgb(255, 218, 218);
    width: 5%;
}

input[value="="]{
    width: 21%;
    background-color: rgb(253, 171, 171);
    border: 1px solid rgb(7, 0, 71);
    margin-bottom: 2mm;
}